<html>
    <body>
        <form action="/analisis" method="post">
            Numero 1 <input type="text" name="n1">  +     Numero 2 <input type="text" name="n2">
            <br>
            <input type="submit" value="Calcular">
        </form>
    </body>
</html>
