<html>
<body>
    <h1>Tennis</h1>
    <h2 id="puntaje">Puntaje: <%= @puntaje %></h2>
    <form action="/puntoA" method="get">
        <input type="submit" value="A" name="puntoA">
    </form>
</body>
</html>
